

.toDoWrapper {
  background: #FF5349;
  border-radius: 5px;
  padding: 2rem;
  position: absolute;
  top: 55%;
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the element using transform */
  overflow-y: auto;
  width: 80%; /* Set the width to 80% of the viewport width */
  height: 70vh; /* Set the height to 70% of the viewport height */
  max-width: 60%; /* Adjust the maximum width as needed */
  display: flex;
  flex-direction: row;
}

.toDo {
  background: #F7BE6D;
  color: 'white';
  display: flex;
  align-items: center; /* Vertically center content */
  padding: 1rem 1rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.input-container {
  flex: 3; /* Take 3/4 of the available space */
}

.button-container {

  display: flex;
  justify-content: flex-end; /* Align button to the right */
}

.deleteIcon {
  margin-left: auto; /* Add space between the "edit" and "delete" icons*/
}


@media (max-width: 800px) {
  .toDoWrapper {
    background: #FF5349;
    border-radius: 5px;
    padding: 2rem;
    position: absolute;
    top: 55%;
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the element using transform */
    overflow-y: auto;
    width: 100%; /* Set the width to 80% of the viewport width */
    height: 70vh; /* Set the height to 70% of the viewport height */
    max-width: 95%; /* Adjust the maximum width as needed */
    display: flex;
    flex-direction: column;
  }
}

.name-input-style {
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid 'white';
  text-transform: capitalize;
}

.todoform {
  display: flex; /* Add display: flex to the form */
  align-items: center; /* Vertically center content */
  width: 100%; /* Ensure the form takes 100% width of the .toDo div */
}

InputField {
  flex-grow: 1; /* Takes up 75% of the available space */
  /* Additional styling for InputField */
}







